infrabridge/nodered/flows.json
[{"id":"32fa710f8ce72da8","type":"tab","label":"TFM","disabled":false,"info":"Definición de los flujos de las operaciones del TFM."},{"id":"c8b203d85105f0cf","type":"mqtt-broker","name":"Mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0bcf57a68d6eff7b","type":"influxdb","hostname":"influxDB","port":"8086","protocol":"http","database":"TFM","name":"InfluxDB-Docker-1-8-4","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://influxDB:8086","rejectUnauthorized":true},{"id":"5aabf444e6d5a827","type":"mqtt in","z":"32fa710f8ce72da8","name":"","topic":"esp32/binomio1/oxigeno","qos":"2","datatype":"auto-detect","broker":"c8b203d85105f0cf","nl":false,"rap":true,"rh":0,"x":230,"y":280,"wires":[["4b19dea5.c633f"]]},{"id":"17673061bbef68f8","type":"comment","z":"32fa710f8ce72da8","name":"Binomio1 Bombero1 Oxígeno","info":"Flujo de operaciones del binomio 1 para oxígeno.","x":240,"y":180,"wires":[]},{"id":"57a43a4f01ec4c17","type":"mqtt out","z":"32fa710f8ce72da8","name":"BrokerMosquitto","topic":"bridge/binomio1/accion1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c8b203d85105f0cf","x":540,"y":780,"wires":[]},{"id":"f69e0f744f083efa","type":"inject","z":"32fa710f8ce72da8","name":"NodeRed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"NodeRed-Test","payloadType":"str","x":200,"y":780,"wires":[["57a43a4f01ec4c17"]]},{"id":"35b62fed19fd5a94","type":"mqtt in","z":"32fa710f8ce72da8","name":"","topic":"app/binomio1/alarm1","qos":"2","datatype":"auto-detect","broker":"c8b203d85105f0cf","nl":false,"rap":true,"rh":0,"x":220,"y":480,"wires":[["4af52783de998006"]]},{"id":"4af52783de998006","type":"debug","z":"32fa710f8ce72da8","name":"Test_Alarm1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":480,"wires":[]},{"id":"ddfb0c033952a7d6","type":"comment","z":"32fa710f8ce72da8","name":"App Binomio1 (Alarm1, Alarm2)","info":"Flujo para el envío de una alarma1 al controlador \ndel binomio1","x":250,"y":400,"wires":[]},{"id":"7344ebaf33b44248","type":"mqtt in","z":"32fa710f8ce72da8","name":"","topic":"app/binomio1/alarm2","qos":"2","datatype":"auto-detect","broker":"c8b203d85105f0cf","nl":false,"rap":true,"rh":0,"x":220,"y":580,"wires":[["daf178294969f807"]]},{"id":"daf178294969f807","type":"debug","z":"32fa710f8ce72da8","name":"Test_Alarm2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":580,"wires":[]},{"id":"8f746c188815190f","type":"mqtt in","z":"32fa710f8ce72da8","name":"","topic":"app/binomio1/alarm3","qos":"2","datatype":"auto-detect","broker":"c8b203d85105f0cf","nl":false,"rap":true,"rh":0,"x":220,"y":680,"wires":[["6ebbe6f1ebfdb391"]]},{"id":"6ebbe6f1ebfdb391","type":"debug","z":"32fa710f8ce72da8","name":"Test_Alarm3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":680,"wires":[]},{"id":"4b19dea5.c633f","type":"change","z":"32fa710f8ce72da8","name":"Binomio1-Bombero1-Oxigeno","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["86918a43.219818","f0a804e8.fcf0c8"]]},{"id":"86918a43.219818","type":"debug","z":"32fa710f8ce72da8","name":"Test_Transformacion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":180,"wires":[]},{"id":"f0a804e8.fcf0c8","type":"influxdb out","z":"32fa710f8ce72da8","influxdb":"0bcf57a68d6eff7b","name":"InfluxDB-Docker","measurement":"oxigeno","precision":"","retentionPolicy":"","database":"TFM","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":820,"y":280,"wires":[]}]